body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Fira Sans','Oxygen',
    'Ubuntu', 'Cantarell',  'Droid Sans', 'Helvetica Neue','Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  max-width: 534px;
  margin: 0 auto;
  
}