body{
  max-width: 1200px;
  margin: auto;
}

span{
    color:rgb(177, 7, 7);
    font-weight: bold;
    text-decoration:underline;
    text-transform:uppercase

  }



button{
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 2px;
}
.img_btn_like{
  max-width: 25px;
  padding: 7px;
}